@import "leaflet/dist/leaflet.css";
@import "tailwindcss";

@theme {
  --color-emergency-50: #fef2f2;
  --color-emergency-100: #fee2e2;
  --color-emergency-500: #ef4444;
  --color-emergency-600: #dc2626;
  --color-emergency-900: #7f1d1d;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}
